/bower_components/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/.spago2nix*
result
result-*
.envrc
.direnv
locals.dhall
/node_modules
/node_modules/
.node
.node-cfg
/server/dist-newstyle
/server/dist-newstyle/
.projectile
/dist/
output.js
.DS_Store
.idea/
