/bower_components/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/.spago2nix*
result
result-*
.envrc
.direnv
.node
.node-cfg
.projectile
/dist/
output.js
.DS_Store
.idea/
test-data/chrome-user-data
test-data/preview
test-data/preprod
test-data/mainnet
test-data/keys
tmp
node_modules
plutip-server/dist-newstyle/
plutip-server/dist/
plutip-server/.stack-work/
nixos.qcow2
