.direnv
.envrc
.projectile
/.direnv
/.envrc
/.pre-commit-config.yaml
/.psa-stash
/.psa*
/.psc-package/
/.psc*
/.psci_modules/
/.pulp-cache/
/.purs*
/.spago/
/.spago2nix/
/bower_components/
/demo/index.js
/demo/node_modules/
/dist/
/generated-docs/
/hydra-persist/
/node_modules
/output
output.js
result
result-*