/bower_components/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/.spago2nix*
result
result-*
.envrc
.direnv
/node_modules
/node_modules/
.projectile
/dist/
output.js
